{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Location</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.location }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}" class="btn btn-sm btn-info mt-2">info</a>
                    {% if app.user %}
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}" class="btn btn-sm btn-info mt-2">edit</a>
                     {% endif %}
                    <a href="{{ path('app_event_runners', {'id': event.id}) }}" class="btn btn-sm btn-info mt-2">prihlásení</a>
                </td>
            </tr>
            
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
    <a href="{{ path('app_event_new') }}">Create new</a>
    

    {% endif %}
    
{% endblock %}
